---
layout: default
---

<div class="home">

  <img src="/images/picture.jpg" class="index-profile-picture shadow" alt="Profile picture" data-rjs="2">

  <h1 class="page-heading">Hi, I'm Pablo.</h1>

  <ul class="social-media-list">
    {% if site.apple_username %}
      <li>
        <a href="https://itunes.com/apps/{{ site.apple_username }}" title="My apps on the App Store">
          <i class="fa fa-apple fa-2x"></i> <span>My apps on the App Store</span>
        </a>
      </li>
    {% endif %}

    {% if site.android_username %}
      <li>
        <a href="https://market.android.com/developer?pub={{ site.android_username }}" title="My apps on Google Play">
          <i class="fa fa-android fa-2x"></i> <span>My apps on Google Play</span>
        </a>
      </li>
    {% endif %}

    {% if site.linkedin_username %}
      <li>
        <a href="https://www.linkedin.com/pub/{{ site.linkedin_username }}" title="My resume on Linkedin">
          <i class="fa fa-linkedin-square fa-2x"></i> <span>My resume on Linkedin</span>
        </a>
      </li>
    {% endif %}

    {% if site.github_username %}
      <li>
        <a href="https://github.com/{{ site.github_username }}" title="My code on Github">
          <i class="fa fa-github-square fa-2x"></i> <span>My code on Github</span>
        </a>
      </li>
    {% endif %}

    {% if site.twitter_username %}
      <li>
        <a href="https://twitter.com/{{ site.twitter_username }}" title="My thoughts on Twitter">
          <i class="fa fa-twitter-square fa-2x"></i> <span>My thoughts on Twitter</span>
        </a>
      </li>
    {% endif %}

    {% if site.instagram_username %}
      <li>
        <a href="https://instagram.com/{{ site.instagram_username }}" title="My photos on Instagram">
          <i class="fa fa-instagram fa-2x"></i> <span>My photos on Instagram</span>
        </a>
      </li>
    {% endif %}
  </ul>

</div>
