<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script type="text/javascript" src="//code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/scripts/retina-2.1.0.min.js"></script>
    <script type="text/javascript" src="/scripts/owl.carousel.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('.owl-carousel').owlCarousel({
          items: 1,
          loop: true,
          center: true,
          lazyLoad: true,
          autoplay: true,
          autoplayHoverPause: true,
        });

        retinajs();
      });
    </script>

  </body>

</html>
