---
layout: default
---
<div class="post project">

  <header class="post-header">

    <h1 class="post-title">{{ page.title }}</h1>

    {% if page.download_link_ios %}
      <a class="download_link" href="{{ page.download_link_ios }}" target="_blank">{{ page.title }} on the App Store</a>
    {% endif %}

    {% if page.download_link_android %}
      <a class="download_link" href="{{ page.download_link_android }}" target="_blank">{{ page.title }} on Google Play</a>
    {% endif %}

  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <footer>
    <p>{{ page.year_released }}</p>

    <div class="carousel-container">
      <div class="owl-carousel owl-theme">
        {% for screenshot in page.screenshots %}
          <img class="owl-lazy" data-src="/images/screenshots/{{screenshot}}@1x.png" data-src-retina="/images/screenshots/{{screenshot}}@2x.png" alt="" />
        {% endfor %}
      </div>
    </div>
  </footer>

</div>
